{% extends 'base.html' %}

{% block titulo %}
Editar Curso
{% endblock %}

{% block contenido %}
<div class="main-content">
<h2 class="mb-4">

    Editar Curso

</h2>

<form method="POST">

    <div class="mb-3">

        <label class="form-label">

            Código

        </label>

        <input
            type="text"
            class="form-control"
            value="{{ curso.codigo }}"
            readonly>

    </div>

    <div class="mb-3">

        <label class="form-label">

            Nombre

        </label>

        <input
            type="text"
            name="nombre"
            class="form-control"
            value="{{ curso.nombre }}"
            required>

    </div>

    <div class="mb-3">

        <label class="form-label">

            Créditos

        </label>

        <input
            type="number"
            name="creditos"
            class="form-control"
            min="1"
            value="{{ curso.creditos }}"
            required>

    </div>

    <div class="mb-3">

        <label class="form-label">

            Docente

        </label>

        <select
            name="cedula"
            class="form-select"
            required>

            {% for docente in docentes %}

                <option
                    value="{{ docente.cedula }}"
                    {% if docente.cedula == curso.cedula %}selected{% endif %}>

                    {{ docente.nombre }}

                </option>

            {% endfor %}

        </select>

    </div>

    <div class="mb-4">

        <label class="form-label">

            Departamento

        </label>

        <select
            name="codigo_dep"
            class="form-select"
            required>

            {% for departamento in departamentos %}

                <option
                    value="{{ departamento.codigo }}"
                    {% if departamento.codigo == curso.codigo_dep %}selected{% endif %}>

                    {{ departamento.nombre }}

                </option>

            {% endfor %}

        </select>

    </div>

    <button
        type="submit"
        class="btn btn-warning">

        Guardar cambios

    </button>

    <a href="/cursos"
       class="btn btn-secondary">

        Cancelar

    </a>

</form>
</div>
{% endblock %}